doctype html
html
 head
  meta(charset='utf-8')
  title missLizzy
 body
  h1 ALPHA
  form(action='/afterLogin' method='post')
   table
    tr
     td 고유번호 : 
     td 
      input(type='text' name='pw')
    tr
     td 
      input(type='submit' value='submit')