doctype html
html
 head
  meta(charset='utf-8')
  title missLizzy
 body
  h1 ALPHA
  form(action="/login" method="post")
   table
    tr
     td id : 
     td 
      input(type='text' name='id')
    tr
     td pw : 
     td 
      input(type='text' name='pw')
    tr
     td 
      input(type='submit' value='submit')