doctype html
html
 head
  meta(charset='utf-8')
  title missLizzy
 body
  h1 ALPHA
  form(action='/seatState' method='post')
   table
    tr
     td 자리현황이 들어와야함
    tr
     td 
      input(type='submit' value='submit')